@import url("https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@400..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&display=swap");
:root {
  font-family: "Wix Madefor Display", sans-serif;
  color: #202021;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.title-h3 {
  font-family: "Wix Madefor Display", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #202021;
}

@media screen and (min-width: 900px) {
  .body-m-medium {
    font-family: "Wix Madefor Display", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #202021;
  }
}
button {
  cursor: pointer;
}

.button-padding {
  padding: 13px 22px;
  font-family: "Wix Madefor Display", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  border-radius: 10px;
  border: none;
}

.button-padding__blue {
  background: #0056FE;
  color: #fff;
}

.button-header {
  padding: 4px 0;
  font-family: "Wix Madefor Display", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  color: #202021;
  text-decoration: none;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  transition: 0.3s ease-out;
}
.button-header_arrow {
  padding-right: 26px;
  position: relative;
}
.button-header_arrow::before {
  content: url('data:image/svg+xml; base64, <svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9 1L5 5L1 1" stroke="#202021" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" /></svg>');
  position: absolute;
  top: 4px;
  right: 0;
  width: 24px;
  height: 24px;
  background-image: url(assets/svg/arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.button-header_arrow:hover::before {
  background-image: url(assets/svg/arrow-blue.svg);
}
.button-header_arrow.active::before {
  background-image: url(assets/svg/arrow-blue-active.svg);
}
.button-header:hover {
  color: #0056FE;
}

@media (min-width: 900px) {
  .button-padding {
    padding: 20px 30px;
    font-size: 16px;
  }
}
.header {
  padding: 22px 11px 25px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.header__logo {
  width: 100px;
  height: 40px;
}

.header__btn-menu {
  border: none;
  height: 43px;
  background: #fff;
  transition: 0.3s ease-out;
  position: relative;
}
.header__btn-menu.active img {
  opacity: 0;
}
.header__btn-menu.active::before {
  content: "";
  position: absolute;
  top: 21px;
  left: 7px;
  width: 32px;
  height: 4px;
  background: linear-gradient(138deg, #39c7ec 0%, #39c7ec 0.01%, #0050ec 100%);
  transform: rotate(-45deg);
}
.header__btn-menu.active::after {
  content: "";
  position: absolute;
  top: 21px;
  left: 7px;
  width: 32px;
  height: 4px;
  background: linear-gradient(138deg, #39c7ec 0%, #39c7ec 0.01%, #0050ec 100%);
  transform: rotate(45deg);
}

.header__phone-menu {
  position: absolute;
  left: 0;
  top: 90px;
  margin-top: 32px;
  width: 100%;
  padding: 0px 15px 0px 15px;
  background: #fff;
  height: 0;
  transition: 0.15s ease-out;
  overflow: hidden;
}
.header__phone-menu.active {
  height: 375px;
}

.phone-menu__title {
  font-family: "Wix Madefor Display", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  background: linear-gradient(138deg, #39c7ec 0%, #39c7ec 0.01%, #0050ec 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.phone-menu__main {
  margin-top: 20px;
}

.phone-menu__nav ul {
  list-style-type: none;
}
.phone-menu__nav li {
  margin-top: 15px;
}
.phone-menu__nav li:first-child {
  margin-top: 0;
}
.phone-menu__nav li a {
  text-decoration: none;
  color: #202021;
}

.phone-menu__sub-menu {
  margin-top: 40px;
  display: flex;
}

.sub-menu__element {
  font-family: "Wix Madefor Display", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  color: #202021;
}
.sub-menu__element ul {
  list-style-type: none;
}
.sub-menu__element li {
  margin-top: 20px;
}
.sub-menu__element li:first-child {
  margin-top: 0;
}
.sub-menu__element li a {
  text-decoration: none;
  color: #202021;
}

.sub-menu__element_left {
  margin-left: 89px;
}

.phone-menu__btn {
  margin-top: 40px;
  border: none;
}

.header__nav {
  display: none;
}

.sub-header {
  display: none;
}

@media (min-width: 900px) {
  .header {
    max-width: 1520px;
    margin: auto;
    padding: 17px 0 17px 0;
  }
  .header__logo {
    width: 117px;
    height: 46px;
  }
  .header__btn-menu {
    display: none;
  }
  .header__nav {
    display: block;
  }
  .header__nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
  }
  .header__nav li {
    margin-left: 40px;
  }
  .header__nav li:first-child {
    margin-left: 0;
  }
  .sub-header {
    display: block;
    position: absolute;
    top: 100px;
    width: 100%;
    padding: 40px;
    background-color: #EFF1F7;
    border: 1px solid #D5DDE5;
    border-radius: 40px;
  }
  .sub-header__element {
    margin: -10px;
    display: flex;
    align-items: center;
  }
  .sub-header__article {
    margin: 10px;
    width: 25%;
    padding: 20px;
    border-radius: 20px;
    background: #fff;
  }
  .sub-header__title {
    font-family: "Wix Madefor Display", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    color: #202021;
  }
  .sub-header__text {
    margin-top: 10px;
  }
}
.wrapper {
  padding-left: 15px;
  padding-right: 15px;
}/*# sourceMappingURL=style.css.map */