@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@400..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&display=swap");
:root {
  font-family: "Wix Madefor Display", sans-serif;
  color: #202021;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.title-h1 {
  font-family: "Wix Madefor Display", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 120%;
  color: #202021;
}

.title-h2 {
  font-family: "Wix Madefor Display", sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  color: #202021;
}

.title-h3 {
  font-family: "Wix Madefor Display", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 120%;
  color: #202021;
}

.body-l-bold {
  font-family: "Wix Madefor Display", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  color: #202021;
}

.body-l {
  font-family: "Wix Madefor Display", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #202021;
}

.body-m {
  font-family: "Wix Madefor Display", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #202021;
}

.body-m-medium {
  font-family: "Wix Madefor Display", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  color: #202021;
}

@media screen and (min-width: 900px) {
  .title-h1 {
    font-weight: 700;
    font-size: 50px;
    line-height: 130%;
  }
  .title-h2 {
    font-weight: 700;
    font-size: 50px;
    line-height: 130%;
  }
  .title-h3 {
    font-weight: 700;
    font-size: 30px;
    line-height: 120%;
  }
  .body-m-medium {
    font-family: "Wix Madefor Display", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #202021;
  }
}
.cirle-diagram__wrapper {
  width: 230px;
  aspect-ratio: 1;
  box-shadow: 0 0 22px 0 rgba(159, 181, 202, 0.2);
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cirle-diagram {
  --p: 20;
  --c: #fff;
  --w: 181.21px;
  --w-s:108.19px;
  width: var(--w);
  aspect-ratio: 1;
  position: relative;
  display: inline-grid;
  margin: 5px;
  place-content: center;
  font-size: 25px;
  font-weight: bold;
  font-family: sans-serif;
  background: linear-gradient(#39c7ec 0%, #39c7ec 0.01%, #0050ec 100%);
  box-shadow: 0 0 31px 0 rgba(159, 181, 202, 0.3);
  border-radius: 50%;
}
.cirle-diagram::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  inset: 0;
  background: conic-gradient(var(--c) calc(100% - var(--p) * 1%), rgba(0, 0, 0, 0) 0);
  transform: scale(-1, 1);
}
.cirle-diagram::after {
  --padding: calc((var(--w) - var(--w-s)) / 2);
  content: "";
  position: absolute;
  top: var(--padding);
  left: var(--padding);
  aspect-ratio: 1;
  width: var(--w-s);
  background-color: var(--c);
  border-radius: 50%;
  box-shadow: 0 0 31px 0 rgba(159, 181, 202, 0.3);
}
.cirle-diagram p {
  font-family: "Wix Madefor Display", sans-serif;
  font-weight: 700;
  font-size: 34px;
  line-height: 140%;
  text-align: center;
  background: linear-gradient(138deg, #39c7ec 0%, #39c7ec 0.01%, #0050ec 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 1;
}

button {
  cursor: pointer;
}

.button-padding {
  padding: 13px 22px;
  font-family: "Wix Madefor Display", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  border-radius: 10px;
  border: none;
  transition: 0.3s ease;
}

.button-padding__blue {
  background: #0056FE;
  color: #fff;
}
.button-padding__blue:hover {
  background: #00308E;
}

.button-padding__white {
  background: #fff;
  color: #202021;
}
.button-padding__white:hover {
  background: #C3CBD0;
}

.button-no-padding {
  font-family: "Wix Madefor Display", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 140%;
  color: #202021;
  border: none;
  background: none;
}
.button-no-padding_blue {
  color: #0056FE;
}

.button-header {
  padding: 4px 0;
  font-family: "Wix Madefor Display", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  color: #202021;
  text-decoration: none;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  position: relative;
  transition: 0.3s ease-out;
}
.button-header_arrow {
  padding-right: 26px;
}
.button-header_arrow::before {
  content: url('data:image/svg+xml; base64, <svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9 1L5 5L1 1" stroke="#202021" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" /></svg>');
  position: absolute;
  top: 4px;
  right: 0;
  width: 24px;
  height: 24px;
  background-image: url(assets/svg/arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.button-header_arrow:hover::before {
  background-image: url(assets/svg/arrow-blue.svg);
}
.button-header_arrow.active::before {
  background-image: url(assets/svg/arrow-blue-active.svg);
}
.button-header:hover, .button-header.active {
  color: #0056FE;
  text-shadow: none;
}
.button-header.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -14px;
  width: calc(100% - 8px);
  height: 2px;
  background-color: #0056FE;
}
.button-header.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -14px;
  width: calc(100% - 8px);
  height: 2px;
  background-color: #0056FE;
}

.button-slider {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  border: none;
  background-color: #EFF1F7;
  box-shadow: 5px 5px 20px 0 rgba(200, 212, 223, 0.8), 3px 3px 10px 0 rgba(210, 218, 227, 0.5), -3px -3px 10px 0 #fff, -5px -5px 18px 0 rgba(255, 255, 255, 0.9);
  transition: 0.3s ease-out;
}
.button-slider:hover {
  box-shadow: inset 2px 2px 12px 0 rgba(136, 165, 191, 0.6), inset -2px -3px 6px 0 rgba(136, 165, 191, 0.3), inset -3px -4px 6px 0 #fff;
}
.button-slider_left {
  background-image: url(assets/svg/slider-button-left.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.button-slider_right {
  margin-left: 15px;
  background-image: url(assets/svg/slider-button-right.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.pagination {
  height: 32px;
}
.pagination__element {
  margin-left: 9px;
  width: 32px;
  height: 32px;
  border: none;
  background-image: url(assets/svg/pagination.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.pagination__element:first-child {
  margin-left: 0;
}
.pagination__element.active {
  background-image: url(assets/svg/pagination-open.svg);
}

.pagination-word {
  display: flex;
}
.pagination-word__element {
  margin-left: 20px;
  padding-bottom: 10px;
  font-family: "Wix Madefor Display", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 140%;
  color: #202021;
  background: none;
  border: none;
  flex-shrink: 0;
  opacity: 0.4;
  position: relative;
}
.pagination-word__element:first-child {
  margin-left: 0;
}
.pagination-word__element.active {
  opacity: 1;
  color: #0056FE;
}
.pagination-word__element.active::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #0056FE;
}

@media (min-width: 900px) {
  .button-padding {
    padding: 20px 30px;
    font-size: 16px;
  }
  .button-slider {
    width: 56px;
    height: 56px;
  }
  .button-slider_right {
    margin-left: 27px;
  }
  .button-no-padding {
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
  }
  .cirle-diagram__wrapper {
    width: 321px;
  }
  .cirle-diagram {
    --w: 252.91px;
    --w-s: 151px;
  }
  .cirle-diagram p {
    font-weight: 700;
    font-size: 48px;
    line-height: 140%;
  }
  .pagination-word__element {
    margin-left: 30px;
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
  }
}
.header {
  padding: 22px 11px 25px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 10;
}

.header__logo {
  width: 100px;
  height: 40px;
}

.header__btn-menu {
  border: none;
  height: 43px;
  background: #fff;
  transition: 0.3s ease-out;
  position: relative;
}
.header__btn-menu.active img {
  opacity: 0;
}
.header__btn-menu.active::before {
  content: "";
  position: absolute;
  top: 21px;
  left: 7px;
  width: 32px;
  height: 4px;
  background: linear-gradient(138deg, #39c7ec 0%, #39c7ec 0.01%, #0050ec 100%);
  transform: rotate(-45deg);
}
.header__btn-menu.active::after {
  content: "";
  position: absolute;
  top: 21px;
  left: 7px;
  width: 32px;
  height: 4px;
  background: linear-gradient(138deg, #39c7ec 0%, #39c7ec 0.01%, #0050ec 100%);
  transform: rotate(45deg);
}

.header__phone-menu {
  position: absolute;
  left: 0;
  top: 90px;
  padding-top: 32px;
  width: 100%;
  padding: 0px 15px 0px 15px;
  background: #fff;
  height: 0;
  transition: 0.15s ease-out;
  overflow: hidden;
}
.header__phone-menu.active {
  height: 529px;
}

.phone-menu__title {
  font-family: "Wix Madefor Display", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  background: linear-gradient(138deg, #39c7ec 0%, #39c7ec 0.01%, #0050ec 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.phone-menu__main {
  margin-top: 20px;
}

.phone-menu__nav ul {
  list-style-type: none;
}
.phone-menu__nav li {
  margin-top: 15px;
}
.phone-menu__nav li:first-child {
  margin-top: 0;
}
.phone-menu__nav li a {
  text-decoration: none;
  color: #202021;
}

.phone-menu__sub-menu {
  margin-top: 40px;
  display: flex;
}

.sub-menu__element {
  font-family: "Wix Madefor Display", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  color: #202021;
}
.sub-menu__element ul {
  list-style-type: none;
}
.sub-menu__element li {
  margin-top: 20px;
}
.sub-menu__element li:first-child {
  margin-top: 0;
}
.sub-menu__element li a {
  text-decoration: none;
  color: #202021;
}

.sub-menu__element_left {
  margin-left: 89px;
}

.phone-menu__btn {
  margin-top: 40px;
  border: none;
}

.header__nav {
  display: none;
}

.sub-header {
  display: none;
}

@media (min-width: 1220px) {
  .header {
    max-width: 1560px;
    margin: auto;
    padding: 17px 20px 17px 20px;
  }
  .header__logo {
    width: 117px;
    height: 46px;
  }
  .header__btn-menu {
    display: none;
  }
  .header__nav {
    display: block;
  }
  .header__nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
  }
  .header__nav li {
    margin-left: 40px;
  }
  .header__nav li:first-child {
    margin-left: 0;
  }
  .sub-header {
    display: none;
    position: absolute;
    top: 100px;
    width: calc(100% - 40px);
    padding: 40px;
    background-color: #EFF1F7;
    border: 1px solid #D5DDE5;
    border-radius: 40px;
  }
  .sub-header.active {
    display: block;
  }
  .sub-header__element {
    margin: -10px;
    display: none;
  }
  .sub-header__element.active {
    display: flex;
    align-items: center;
  }
  .sub-header__article {
    margin: 10px;
    width: 25%;
    padding: 20px;
    border-radius: 20px;
    background: #fff;
  }
  .sub-header__title {
    font-family: "Wix Madefor Display", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    color: #202021;
  }
  .sub-header__text {
    margin-top: 10px;
  }
}
.footer {
  padding: 63.21px 15px 33px 15px;
  background-color: #0056FE;
  color: #fff;
}
.footer__logo {
  width: 149.22px;
  height: 63.25px;
  opacity: 0.5;
}
.footer__title {
  margin-top: 37.54px;
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
}
.footer a, .footer p {
  color: #fff;
  text-decoration: none;
}
.footer li {
  margin-top: 15px;
}
.footer li:first-child {
  margin-top: 0;
}
.footer__main-menu_footer {
  margin-top: 18px;
}
.footer__main-menu li {
  list-style-type: none;
}
.footer__sub-box {
  margin-top: 43px;
  display: flex;
}
.footer__sub-menu ul {
  list-style-type: none;
}
.footer__sub-menu li {
  margin-top: 20px;
}
.footer__sub-menu li:first-child {
  margin-top: 0;
}
.footer__sub-menu_left {
  margin-left: 88px;
}
.footer__sub-menu_left li {
  margin-top: 23px;
}
.footer__sub-menu_left li:first-child {
  margin-top: 0;
}
.footer__address {
  margin-top: 43px;
}
.footer__address-additional {
  margin-top: 27px;
}
.footer__address-additional * {
  margin-top: 10px;
}
.footer__address-additional *:first-child {
  margin-top: 0;
}
.footer__tel {
  font-style: normal;
}

.author {
  margin-top: 140px;
  border-top: 1px solid #fff;
  padding-top: 49px;
  opacity: 0.5;
}
.author p:last-child {
  margin-top: 18px;
  position: relative;
}
.author p:last-child::before {
  content: "";
  position: absolute;
  top: -5px;
  left: 86px;
  width: 48.75px;
  height: 20px;
  background-image: url(assets/svg/footer-logo.svg);
  background-size: 48.75px 20px;
}

@media (min-width: 900px) {
  .footer {
    padding: 110px 0 41px 0;
  }
  .footer__wrapper {
    margin: auto;
    max-width: 1560px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .footer__logo {
    margin-top: -10px;
  }
  .footer__main-box {
    margin-left: 112px;
  }
  .footer__title, .footer__sub-box, .footer__address, .footer__main-menu_footer {
    margin-top: 0;
  }
  .footer__top {
    display: flex;
  }
  .footer__title {
    font-weight: 700;
    font-size: 26px;
    line-height: 100%;
  }
  .footer__main-menu li, .footer__main-menu li:first-child {
    margin-top: 25px;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
  }
  .footer__sub-box {
    margin-left: 137px;
  }
  .footer__sub-menu .body-l-bold {
    font-weight: 700;
    font-size: 26px;
    line-height: 100%;
  }
  .footer__sub-menu li {
    margin-top: 30px;
  }
  .footer__sub-menu_left {
    margin-left: 103px;
  }
  .footer__address {
    margin-left: 99px;
  }
  .footer__tel .title-h3 {
    line-height: 100%;
  }
  .footer__address-additional {
    margin-top: 40px;
  }
  .footer__address-additional.body-l {
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
  }
  .author {
    margin-top: 235px;
    padding-top: 33px;
    display: flex;
    align-items: center;
    position: relative;
  }
  .author.body-m-medium {
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
  }
  .author p:last-child {
    position: absolute;
    right: 0;
    margin-top: 0;
    padding-right: 55.75px;
  }
}
.wrapper {
  padding: 0 15px;
}
.wrapper-grey {
  margin-top: 60px;
  padding: 60px 0 59px 0;
  background-color: #EFF1F7;
}

.main {
  overflow: hidden;
}

@media (min-width: 900px) {
  .main {
    padding-top: 20px;
  }
  .wrapper {
    margin: auto;
    max-width: 1560px;
    padding: 0;
    padding-left: 20px;
    padding-right: 20px;
  }
  .wrapper-grey {
    margin-top: 150px;
    padding-top: 120px;
    padding-bottom: 150px;
  }
}
.slider-main {
  padding: 40px 15px 0 15px;
  background-color: #EFF1F7;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  position: relative;
}
.slider-main__description {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.slider-main__description p {
  text-align: center;
}
.slider-main__description p:first-child {
  background: linear-gradient(90deg, #39c7ec 0%, #39c7ec 0.01%, #0050ec 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.slider-main__description p:nth-child(2) {
  margin-top: 15px;
}
.slider-main__open {
  margin-top: 20px;
}
.slider-main__control {
  margin-top: 38px;
}
.slider-main__img {
  margin-top: 2px;
  width: 345px;
  height: 270px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 900px) {
  .slider-main {
    padding: 128px 50px 40px 80px;
    flex-direction: row;
  }
  .slider-main__description {
    align-items: start;
  }
  .slider-main__description p:nth-child(2) {
    margin-top: 16px;
    width: 692px;
    font-weight: 400;
    font-size: 30px;
    line-height: 140%;
    text-align: start;
  }
  .slider-main__open {
    margin-top: 50px;
  }
  .slider-main__control {
    margin-top: 85px;
  }
  .slider-main__img {
    position: absolute;
    right: 43.89px;
    bottom: -4px;
    width: 613.11px;
    height: 554px;
  }
}
@media (min-width: 900px) and (max-width: 1485px) {
  .slider-main__description {
    max-width: 50%;
  }
  .slider-main__description p:first-child {
    text-align: start;
  }
  .slider-main__description p:nth-child(2) {
    width: auto;
  }
  .slider-main__img {
    bottom: -10%;
    width: 43%;
    -o-object-fit: contain;
       object-fit: contain;
  }
}
@media (min-width: 900px) and (max-width: 1292px) {
  .slider-main__img {
    right: -2%;
    bottom: -15%;
    width: 50%;
  }
}
.product {
  padding-top: 60px;
}
.product__description span {
  background: linear-gradient(90deg, #39c7ec 0%, #39c7ec 0.01%, #0050ec 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.product__slider {
  margin-top: 40px;
  padding: 40px 15px 29px 15px;
  background-color: #EFF1F7;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product__element {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product__text {
  margin-top: 20px;
  font-family: "Wix Madefor Display", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: #202021;
  text-align: center;
}
.product__text span {
  font-weight: 700;
}
.product__controller {
  margin-top: 56px;
}
.product__pagination {
  margin-top: 56px;
}
.product__button {
  display: none;
}

@media (min-width: 900px) {
  .product {
    margin-top: 150px;
    padding-top: 0;
    display: flex;
    justify-content: space-between;
  }
  .product__description {
    width: 543px;
  }
  .product__description p {
    line-height: 120%;
  }
  .product__slider {
    margin-top: 0;
    padding: 60px 58px 57px 60px;
    align-items: start;
  }
  .product__element {
    flex-direction: row;
    align-items: start;
  }
  .product__text {
    margin-left: 33px;
    max-width: 405px;
    padding-top: 54px;
    font-weight: 400;
    font-size: 26px;
    line-height: 140%;
    text-align: start;
  }
  .product__controller {
    margin-top: 52px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .product__button {
    display: block;
  }
}
@media (min-width: 900px) and (max-width: 1460px) {
  .product__slider {
    margin-left: 20px;
  }
  .cirle-diagram__wrapper {
    flex-shrink: 0;
  }
}
@media (min-width: 900px) and (max-width: 1250px) {
  .product {
    flex-direction: column;
  }
  .product__slider {
    margin-top: 20px;
    margin-left: 0;
  }
}
.card {
  margin-top: 60px;
}
.card__item {
  margin-top: 20px;
  padding: 30px 30px 28px 30px;
  background-color: #EFF1F7;
  border-radius: 40px;
}
.card__item:first-child {
  margin-top: 0;
}
.card__header {
  width: 64px;
  height: 64px;
  box-shadow: 3px 3px 17px 0 rgba(210, 218, 227, 0.8), 2px 2px 3px 0 rgba(210, 218, 227, 0.3), -7px -7px 14px 0 #fff, -1px -1px 4px 0 rgba(255, 255, 255, 0.8);
  background: #EFF1F7;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card__footer {
  margin-top: 29px;
  height: 180px;
  width: 305px;
  display: flex;
  align-items: end;
}
.card__footer p {
  font-family: "Wix Madefor Display", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 140%;
  color: #202021;
}

@media (min-width: 900px) {
  .card {
    margin: 140px -10px -10px -10px;
    display: flex;
  }
  .card__item {
    margin: 10px;
  }
  .card__item:first-child {
    margin-top: 10px;
  }
}
@media (min-width: 900px) and (max-width: 1560px) {
  .card__item {
    width: calc(50% - 20px);
  }
}
.banner {
  margin-top: 60px;
  padding: 60.5px 15px 75.5px 15px;
  background: linear-gradient(138deg, #39c7ec 0%, #39c7ec 0.01%, #0050ec 100%);
  border-radius: 40px;
}
.banner__title {
  font-family: "Wix Madefor Display", sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  color: #fff;
}
.banner__sub-title {
  margin-top: 20px;
  font-family: "Wix Madefor Display", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #fff;
}
.banner__button {
  margin-top: 20px;
}

@media (min-width: 900px) {
  .banner {
    margin-top: 150px;
    padding: 60px 80px 61px 73px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .banner__description {
    width: 68%;
  }
  .banner__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 120%;
  }
  .banner__sub-title {
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
  }
  .banner__button {
    margin-top: 0;
  }
  .banner__button .button-padding__white {
    width: 272px;
  }
}
.ready-product {
  margin-top: 60px;
  padding: 40px 14px 63px 14px;
  background-color: #EFF1F7;
  border-radius: 40px;
}
.ready-product__description {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ready-product__title {
  width: 40%;
  font-family: "Wix Madefor Display", sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-align: center;
  color: #202021;
}
.ready-product__title span {
  background: linear-gradient(138deg, #39c7ec 0%, #39c7ec 0.01%, #0050ec 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.ready-product__text {
  margin-top: 20px;
  font-family: "Wix Madefor Display", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: #202021;
}
.ready-product__content {
  margin-top: 30px;
  padding: 0 14.5px;
}
.ready-product__item {
  margin-top: 20px;
  padding: 20px;
  box-shadow: 15px 10px 30px 0 rgba(210, 218, 227, 0.7), 5px 5px 13px 0 rgba(210, 218, 227, 0.3), -5px -5px 10px 0 #fff, -20px -20px 34px 0 rgba(255, 255, 255, 0.8);
  background: #EFF1F7;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ready-product__item:first-child {
  margin-top: 0;
}
.ready-product__item:hover {
  box-shadow: inset 9px 9px 15px 0 rgba(136, 165, 191, 0.4), inset -9px -10px 9px 0 rgba(136, 165, 191, 0.2), inset -9px -10px 12px 0 #fff;
}
.ready-product-item__img {
  width: 64px;
  height: 64px;
}
.ready-product-item__title {
  margin-top: 10px;
  font-family: "Wix Madefor Display", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 120%;
  text-align: center;
  color: #202021;
}
.ready-product-item__text {
  margin-top: 10px;
  font-family: "Wix Madefor Display", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  text-align: center;
  color: #202021;
}

@media (min-width: 900px) {
  .ready-product {
    margin-top: 140px;
    padding: 80px 78px 80px 80px;
    display: flex;
    justify-content: space-between;
  }
  .ready-product__description {
    width: 489px;
    align-items: start;
  }
  .ready-product__title {
    width: auto;
    font-weight: 700;
    font-size: 50px;
    line-height: 120%;
    text-align: start;
  }
  .ready-product__text {
    font-weight: 400;
    font-size: 30px;
    line-height: 140%;
    text-align: start;
  }
  .ready-product__content {
    margin: -10px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    max-width: 820px;
  }
  .ready-product__item {
    margin: 10px;
    padding: 31px 30px 30px 30px;
    width: calc(50% - 20px);
  }
  .ready-product__item:first-child {
    margin-top: 10px;
  }
  .ready-product-item__img {
    width: 120px;
    height: 120px;
  }
  .ready-product-item__title-wrapper {
    margin-top: 27px;
    height: 62px;
    display: flex;
    align-items: end;
  }
  .ready-product-item__title {
    font-weight: 700;
    font-size: 26px;
    line-height: 120%;
  }
  .ready-product-item__text {
    margin-top: 20px;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
  }
}
.launch__title {
  font-family: "Wix Madefor Display", sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  color: #202021;
}
.launch__title span {
  background: linear-gradient(138deg, #39c7ec 0%, #39c7ec 0.01%, #0050ec 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.launch__content {
  margin-top: 40px;
}
.launch__item {
  margin-top: 32px;
  display: flex;
}
.launch__item:first-child {
  margin-top: 0;
}
.launch__item-img-wrapper {
  height: 64px;
  padding: 9px;
  border-radius: 10px;
  box-shadow: 3px 3px 17px 0 rgba(210, 218, 227, 0.8), 2px 2px 3px 0 rgba(210, 218, 227, 0.3), -7px -7px 14px 0 #fff, -1px -1px 4px 0 rgba(255, 255, 255, 0.8);
  background-color: #EFF1F7;
}
.launch__item-img {
  width: 46px;
  height: 46px;
}
.launch__item-description {
  margin-left: 20px;
}
.launch__item-titel {
  font-family: "Wix Madefor Display", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 120%;
  color: #202021;
}
.launch__item-text {
  margin-top: 15px;
  font-family: "Wix Madefor Display", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #202021;
}
.launch__button {
  margin-top: 44px;
}

@media (min-width: 900px) {
  .launch__title {
    max-width: 850px;
    font-weight: 700;
    font-size: 50px;
    line-height: 120%;
  }
  .launch__content {
    margin: 30px -30px -30px -30px;
    display: flex;
    flex-wrap: wrap;
  }
  .launch__item {
    margin: 30px;
    width: calc(50% - 80px);
  }
  .launch__item:first-child {
    margin-top: 30px;
  }
  .launch__item:nth-child(n+3) {
    margin-top: 54px;
  }
  .launch__item-description {
    margin-left: 30px;
  }
  .launch__item-titel {
    font-weight: 700;
    font-size: 30px;
    line-height: 120%;
  }
  .launch__item-text {
    margin-top: 20px;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
  }
  .launch__button {
    margin-top: 90px;
  }
}
.tasks {
  margin-top: 60px;
}
.tasks__title {
  font-family: "Wix Madefor Display", sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  background: linear-gradient(90deg, #0056fe 0%, #19bfea 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.tasks__content {
  margin: 32.5px -7.5px -7.5px -7.5px;
  width: 999px;
  display: flex;
  flex-wrap: wrap;
}
.tasks__item {
  margin: 7.5px;
  padding: 13px 22px;
  box-shadow: 7px 7px 30px 0 rgba(210, 218, 227, 0.6), 5px 5px 13px 0 rgba(210, 218, 227, 0.3), -5px -5px 10px 0 #fff, -10px -10px 34px 0 rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  font-family: "Wix Madefor Display", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  color: #202021;
}
.tasks__item:hover {
  box-shadow: inset 2px 2px 12px 0 rgba(136, 165, 191, 0.6), inset -2px -3px 6px 0 rgba(136, 165, 191, 0.3), inset -3px -4px 6px 0 #fff;
}
.tasks__controller {
  margin-top: 39px;
  display: flex;
  justify-content: center;
}

@media (min-width: 900px) {
  .tasks {
    margin-top: 100px;
    padding: 80px;
    box-shadow: 15px 10px 30px 0 rgba(210, 218, 227, 0.7), 5px 5px 13px 0 rgba(210, 218, 227, 0.3), -5px -5px 10px 0 #fff, -20px -20px 34px 0 rgba(255, 255, 255, 0.8);
    background-color: #EFF1F7;
    border-radius: 20px;
  }
  .tasks__controller {
    display: none;
  }
  .tasks__title {
    font-weight: 700;
    font-size: 50px;
    line-height: 120%;
  }
  .tasks__title span {
    background: linear-gradient(90deg, #202021 0%, #202021 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .tasks__content {
    margin: 45px -15px -15px -15px;
    width: auto;
  }
  .tasks__item {
    margin: 15px;
    padding: 20px 30px;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
  }
}
.we {
  margin-top: 60px;
}
.we__title {
  font-family: "Wix Madefor Display", sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  color: #202021;
}
.we__title span {
  background: linear-gradient(138deg, #39c7ec 0%, #39c7ec 0.01%, #0050ec 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.we__controller {
  margin-top: 40px;
}
.we__content {
  margin-top: 20px;
  display: flex;
}
.we__content-option {
  display: flex;
}
.we__content-item {
  margin-left: 10px;
  flex-shrink: 0;
  padding: 30px 30px 9px 30px;
  border-radius: 40px;
  background-color: #EFF1F7;
}
.we__content-item:first-child {
  margin-left: 0;
}
.we__content-item-description {
  max-width: 230px;
}
.we__content-title {
  font-family: "Wix Madefor Display", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 120%;
  color: #202021;
}
.we__content-text {
  margin-top: 15px;
  height: 120px;
  font-family: "Wix Madefor Display", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #202021;
}
.we__content-wrapper-img {
  margin-top: 9px;
  margin-left: auto;
  width: 64px;
  height: 64px;
  box-shadow: 3px 3px 17px 0 rgba(210, 218, 227, 0.8), 2px 2px 3px 0 rgba(210, 218, 227, 0.3), -7px -7px 14px 0 #fff, -1px -1px 4px 0 rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  background-color: #EFF1F7;
  display: flex;
  align-items: center;
  justify-content: center;
}
.we__content-img {
  width: 46px;
  height: 46px;
}

@media (min-width: 900px) {
  .we {
    margin-top: 150px;
  }
  .we__title {
    font-weight: 700;
    font-size: 50px;
    line-height: 120%;
  }
  .we__controller {
    margin-top: 60px;
  }
  .we__content {
    margin-top: 40px;
  }
  .we__content-option {
    margin: -10.5px;
    flex-wrap: wrap;
  }
  .we__content-item {
    margin: 10.5px;
    padding: 40px;
    width: calc(33.3% - 21px);
  }
  .we__content-item:first-child {
    margin-left: 10.5px;
  }
  .we__content-title {
    font-weight: 700;
    font-size: 26px;
    line-height: 120%;
  }
  .we__content-text {
    margin-top: 20px;
    height: 145px;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
  }
  .we__content-item-description {
    max-width: 413px;
  }
}
.customers__title {
  font-family: "Wix Madefor Display", sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  color: #202021;
  text-align: center;
}
.customers__title span {
  background: linear-gradient(138deg, #39c7ec 0%, #39c7ec 0.01%, #0050ec 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.customers__content {
  margin-top: 40px;
}
.customers__option {
  margin: -7.5px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.customers__item {
  margin: 7.5px;
  width: calc(50% - 15px);
  height: 74px;
  -o-object-fit: contain;
     object-fit: contain;
}
.customers__controller {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

@media (min-width: 900px) {
  .customers {
    margin-top: 30px;
  }
  .customers__title {
    font-weight: 700;
    font-size: 50px;
    line-height: 120%;
    text-align: start;
  }
  .customers__content {
    margin-top: 59px;
  }
  .customers__option {
    margin: -10px;
  }
  .customers__item {
    margin: 10px;
    width: calc(25% - 20px);
    height: 166px;
  }
  .customers__controller {
    margin-top: 60px;
  }
}
.registry {
  margin-top: 60px;
  padding: 38.23px 15px 59.77px 15px;
  border-radius: 30px;
  box-shadow: 0 6px 35px -11px rgba(22, 52, 80, 0.12);
  background: linear-gradient(138deg, #39c7ec 0%, #39c7ec 0.01%, #0050ec 100%);
  position: relative;
}
.registry__title {
  font-family: "Wix Madefor Display", sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  color: #fff;
}
.registry__text {
  margin-top: 20px;
  width: calc(100% + 10px);
  font-family: "Wix Madefor Display", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #fff;
}
.registry__certificate {
  margin-top: 26px;
}
.registry__crest {
  position: absolute;
  top: 20px;
  left: 6px;
  width: 100%;
  height: 394px;
  background-image: url(assets/images/герб.png);
  background-size: 394px 394px;
  background-repeat: no-repeat;
  background-position: center;
}

.certificate {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  padding: 16px 20px;
  display: flex;
  align-items: center;
}
.certificate__right {
  margin-left: 20px;
  padding: 10px 0 10px 20px;
  font-family: "Wix Madefor Display", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 140%;
  color: #fff;
  border-left: 1px solid #fff;
}

@media (min-width: 900px) {
  .registry {
    margin-top: 147px;
    padding: 117px 80px;
  }
  .registry__title {
    font-weight: 700;
    font-size: 50px;
    line-height: 120%;
  }
  .registry__text {
    margin-top: 30px;
    font-weight: 400;
    font-size: 30px;
    line-height: 140%;
  }
  .registry__certificate {
    margin-top: 38px;
  }
  .registry__content {
    max-width: 809px;
  }
  .certificate {
    padding: 16px 30px;
    max-width: 568px;
  }
  .certificate__right {
    margin-left: 30px;
    padding: 15px 0 15px 30px;
    font-weight: 700;
    font-size: 18px;
    line-height: 140%;
  }
  .certificate__left {
    width: 50px;
    height: 50px;
  }
  .registry__crest {
    left: auto;
    right: 53px;
    width: 578px;
    height: 578px;
    background-size: 578px 578px;
  }
}
.other {
  margin-top: 60px;
}
.other__item {
  margin-top: 20px;
  padding: 60px 15px;
  box-shadow: 15px 10px 30px 0 rgba(210, 218, 227, 0.7), 5px 5px 13px 0 rgba(210, 218, 227, 0.3), -5px -5px 10px 0 #fff, -20px -20px 34px 0 rgba(255, 255, 255, 0.8);
  background-color: #EFF1F7;
  border-radius: 40px;
}
.other__itemf:first-child {
  margin-top: 20px;
}
.other__item_center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.other__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.other__title {
  font-family: "Wix Madefor Display", sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  color: #202021;
}
.other__articles {
  margin-top: 40px;
}
.other__slider {
  margin-top: 40px;
}
.other__description {
  margin-top: 20.11px;
  font-family: "Wix Madefor Display", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  text-align: center;
  color: #202021;
  height: 57px;
}

.articles-list ul {
  list-style-type: none;
}
.articles-list__item {
  padding-top: 14.5px;
  padding-bottom: 14.5px;
  border-bottom: 1px solid #dee3f2;
  font-family: "Wix Madefor Display", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  color: #202021;
}
.articles-list__item:first-child {
  padding-top: 0;
}
.articles-list__item:last-child {
  padding-bottom: 0;
  border: none;
}
.articles-list__item a {
  text-decoration: none;
  color: #202021;
}

.slider-perspective {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.slider-perspective__item {
  margin-left: 5.82px;
  width: 86px;
  height: 86px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider-perspective__item:first-child {
  margin-left: 0;
}
.slider-perspective__item.active {
  box-shadow: inset 2px 2px 4px 0 rgba(136, 165, 191, 0.56), inset -2px -2px 4px 0 #fff;
  background-color: #EFF1F7;
}
.slider-perspective__item img {
  max-width: 56px;
}
.slider-perspective__item:nth-child(1), .slider-perspective__item:nth-child(5) {
  width: 49px;
  height: 49px;
}
.slider-perspective__item:nth-child(1) img, .slider-perspective__item:nth-child(5) img {
  max-width: 27px;
}
.slider-perspective__item:nth-child(2), .slider-perspective__item:nth-child(4) {
  width: 61px;
  height: 61px;
}
.slider-perspective__item:nth-child(2) img, .slider-perspective__item:nth-child(4) img {
  max-width: 44px;
}

@media (min-width: 900px) {
  .other {
    margin-top: 150px;
  }
  .other__content {
    display: flex;
    justify-content: space-between;
  }
  .other__item {
    margin-top: 0;
    padding: 60px 60px 113px 60px;
    width: calc(50% - 10px);
  }
  .other__title {
    font-weight: 700;
    font-size: 50px;
    line-height: 120%;
  }
  .other__articles {
    margin-top: 40px;
  }
  .articles-list__item {
    font-weight: 700;
    font-size: 26px;
    line-height: 120%;
  }
  .articles-list__item {
    padding-top: 29.5px;
    padding-bottom: 29.5px;
  }
  .other__description {
    margin-top: 60px;
    max-width: 433px;
    font-weight: 700;
    font-size: 26px;
    line-height: 120%;
  }
  .other__slider {
    margin-top: 96px;
  }
  .other__title_news {
    width: 100%;
  }
  .slider-perspective__item {
    margin-left: 16px;
    width: 140px;
    height: 140px;
  }
  .slider-perspective__item img {
    max-width: 98px;
  }
  .slider-perspective__item:nth-child(1), .slider-perspective__item:nth-child(5) {
    width: 80px;
    height: 80px;
  }
  .slider-perspective__item:nth-child(1) img, .slider-perspective__item:nth-child(5) img {
    max-width: 43px;
  }
  .slider-perspective__item:nth-child(2), .slider-perspective__item:nth-child(4) {
    width: 100px;
    height: 100px;
  }
  .slider-perspective__item:nth-child(2) img, .slider-perspective__item:nth-child(4) img {
    max-width: 78px;
  }
}/*# sourceMappingURL=style.css.map */